[Desktop Entry]
Name=Five in a Row
Name[hu]=Amőba
Comment=Gomoku (Five in a Row)
Comment[hu]=Gomoku (amőba)
Exec=/usr/bin/harbour-fivinarow
Icon=harbour-fivinarow
Type=Application
Categories=Game;
X-Sailfish-ApplicationType=Silica

[X-Sailjail]
Permissions=
OrganizationName=edp17
ApplicationName=harbour-fivinarow
